*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:  lch(0% 0 0);
    font-family: Arial;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#home{
    position:fixed;
    left: 100%;
    transform: translate(-100%, -50%);
}

h1{
    color: lch(100% 0.01 296.81);
    text-align: center;
    padding: 10px;

    position: fixed;

    left: 50%;
    transform: translate(-50%, 0%);
}

.accessibility{
    font-size: 1rem;
    font-family: Arial;
    color: #ffffff;

}

#coulour-inversion{
    padding: 19px   50%;
    background-color: hwb(0 0% 100%);
    border-color: #ffffff;

    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#fontsize{
    padding: 19px   50%;
    background-color: #020101;
    border-color: rgb(255, 255, 255);

    position: fixed;
    top: 34%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#speech{
    padding: 19px   50%;
    background-color: hwb(0 0% 100%);
    border-color: #ffffff;

    position: fixed;
    top: 48%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#etc1{
    padding: 19px   50%;
    background-color: #000000;
    border-color: #ffffff;

    position: fixed;
    top: 62%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#etc2{
    padding: 19px   50%;
    background-color: #000000;
    border-color: #ffffff;

    position: fixed;
    top: 72%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#etc3{
    padding: 19px   50%;
    background-color: hwb(0 0% 100%);
    border-color: #ffffff;

    position: fixed;
    top: 82%;
    left: 50%;
    transform: translate(-50%, 0%);
}
